.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/
results/
historical_results/
example/fitted-models.rds
example/fitted_models.rds
example/pstat.rds
example/BW30_Navajo_DataAnalysis_Exp1(Take 3)_good.xlsx
example/bw30_navajo.rda
example/*.rds
*.rds
